<style>
    .form-box {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-top: 5px solid #181642;
        border-left: 3px solid #181642;
        border-radius: 10px;
    }

    .lbtn {
        background-color: #FF2C90;
        color: #FFFFFF;
    }

    .lbtn:hover {
        background-color: #da096a;
        color: #FFFFFF;
    }
</style>
<div>
    <div class="container p-3 mx-auto w-50 form-box my-5 rounded-md">
        <h2 style="color: #181642" class="text-center mb-3">Login</h2>
        <form action="/login" method="post" class="p-2">
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Email</span>
                    <input required="" name="email" type="email" aria-label="email" class="form-control"
                        placeholder="enter your email">
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Password</span>
                    <input required="" name="password" type="password" aria-label="password" class="form-control"
                        placeholder="enter your password">
                </div>
            </div>

            <button type="submit" class="btn btn-md mt-2 lbtn">Login</button>
        </form>
    </div>
</div>